/* Products Container */
.products-container {
    padding: 0px 50px 50px 50px;
}

.products-title {
    text-align: left;
    margin: 20px 0px 20px 0px;
    font-size: 2.5rem;
    text-decoration: underline;
    color: #6e6e73;
}

.products-main-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*
//////////////////////////////////
Two-Column Layout (Sidebar + Products)
//////////////////////////////////
*/

/* This creates the two-column layout using CSS Grid */
.products-layout {
    display: grid;
    grid-template-columns: 280px 1fr; /* Left column fixed width (280px), right column takes remaining space */
    gap: 30px; /* Space between sidebar and products */
}

/*
//////////////////////////////////
 Page info
//////////////////////////////////
*/


.page-info {
    margin: 10px 20px;
    color: white;
}

/* Products Grid - 3 columns, gap between items */
.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

/* Individual Product Card */
.product-card {
    border: 1px solid #ddd;
    padding: 30px;
    background: white;
    border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
}

.product-card:hover {
    box-shadow: 2px 4px 16px #00000029;
    transform: scale3d(1.01, 1.01, 1.01);
}

.product-card h3 {
    margin-top: 0;
    color: #333;
}

.product-card p {
    color: #333
}

.product-card p {
    margin: 5px 0;
}

.product-price {
    font-size: 1.2em;
    color: red !important;
}

/*
//////////////////////////////////
 Pagination Controls 
//////////////////////////////////
*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
}

.pagination button {
    padding: 8px 16px;
    border: 1px solid #213038;
    border-radius: 4px;
    cursor: pointer;
    background: white;
    color: #213038;
    transition: all 0.2s;
}

.pagination button:hover:not(:disabled) {
    background: #213038;
    color: white;
}

.pagination button.active {
    background: #213038;
    color: white;
}

.pagination button:disabled {
    background: white;
    color: #666;
    border-color: #ccc;
    cursor: not-allowed;
}

.pagination button.primary {
    background: #213038;
    color: white;
    border: none;
}

.pagination button.primary:disabled {
    background: white;
    color: black;
    border-color: #666;
}

.page-info{
    color: #213038;
    font-size: 1.1rem;
}
